

<div class="container">
  <h1 class="mb-4 d-flex align-items-center justify-content-center ">Karyawan</h1>

  <table class="table mt-4 table-bordered">
    <thead>
    <tr>
      <th class="text-center">Nama</th>
      <th class="text-center">Alamat</th>
      <th class="text-center">Usia</th>
      <th class="text-center">Action</th>
      <th class="text-center">Details</th>
    </tr>
    </thead>

    <% @karyawan.each do |karyawan| %>
      <tr>
        <td><%=link_to karyawan.name, karyawan_path(karyawan) %></td>
        <td><%= karyawan.address %></td>
        <td><%= karyawan.age %></td>
        <td class="d-flex align-items-center justify-item-center ">
          <%= button_to "Delete", karyawan_path(karyawan),method: :delete, data:{turbo_method: :delete, turbo_confirm: "Apakah Anda yakin?"}, class: "btn btn-danger mx-2" %>
          <%= link_to "Edit", edit_karyawan_path(karyawan), class: "btn btn-success mx-2" %>

        </td>

        <td>
          <% if karyawan.position.present? %>
            <p>Salary: <%= karyawan.position.salary %></p>
            <p>Jabatan: <%= karyawan.position.title %></p>
          <% else %>
            <p>No Position Assigned</p>
          <% end %>
        </td>
      </tr>
    <%end %>

  </table>
  <%= link_to "Tambahkan karyawan", new_karyawan_path, class: "btn btn-primary" %>
</div>

