<div class="container">
  <div class="h1 text-center"> Create New Employee</div>
  <div class="border border-rounded bg-info">
    <%= form_with(model: @karyawan,url: admin_path, local: true, data: { turbo: "false", turbo_method: :post }, class: "mb-4 bg-info rounded p-4") do |form| %>

      <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Masukan Nama Karyawan" %>
      </div>
      <div class="mb-3">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :age %>
        <%= form.number_field :age, class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Position</label>
        <label for="position-select"></label>
        <select name="karyawan[position_id]" class="form-select w-50 text-center" id="position-select" data-position-data= '<%= @position_data %>' >
          <option> Pilih posisi </option>
          <% @position.each do |p| %>
            <option value="<%= p.id %>"> <%= p.title %> </option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <label>salary</label>
        <label for="salary-field"></label>
        <input class="form-control w-50 text-center" type="number" name="salary" readonly id="salary-field">
      </div>

      <%= form.submit "Tambahkan", class: "btn btn-primary mt-4 me-2" %>
      <%= link_to "Back", karyawans_path, class: "btn btn-warning mt-4" %>
    <% end %>

  </div>
</div>

<%= javascript_include_tag 'fill_salary.js', 'data-turbo-track': 'reload', defer: true %>

