<div class="container">
  <div class="mb-4">
    <%= render 'shared/clock' %>
  </div>
</div>

<div class="container">
  <table class="table table-bordered mb-4">
    <thead class="text-center">
    <% if current_user.karyawan %>
      <tr>
        <th>Name</th>
        <th>Clock-In</th>
        <th>Clock-Out</th>
        <th>Action</th>
      </tr>
      <%end %>
    </thead>

    <tbody>
      <tr>
        <% if current_user.karyawan %>
        <td><%= current_user.karyawan.name %></td>
        <td class="text-center">
          <% last_clock_in = current_user.clocks.where(clock_in: true).last %>
          <% if last_clock_in %>
            <%= last_clock_in.event_time.strftime('%H.%M') %>
          <% else %>
            Not Clocked In
          <% end %>
        </td>

        <td class="text-center">
          <% last_clock_out = current_user.clocks.where(clock_in: false).last %>
          <% if last_clock_out %>
            <%= last_clock_out.event_time.strftime('%H:%M') %>
          <% else %>
            Not Clocked Out
          <% end %>
        </td>

        <td class="text-center">
          <% if current_user.clocks.last&.clock_in %>
            <%= link_to 'Clock Out', clock_out_user_path(current_user), data: { turbo_method: :post }, class: "btn btn-danger" %>
          <% else %>
            <%= link_to 'Clock In', clock_in_user_path(current_user), data: { turbo_method: :post }, class: "btn btn-primary" %>
          <% end %>
        </td>
        <%else %>
          <h3 class="text-center">You have not been added yet please contact Admin</h3>
        <%end %>
      </tr>
    </tbody>
  </table>
</div>



<!--<td class="text-center">-->
  <%# if current_user.clocks.any? %>
    <%# current_user.clocks.each do |clock| %>
      <%#= clock.event_time.strftime('%H.%M') %>
<!--      <br>-->
    <%# end %>
  <%# else %>
<!--    Not Clocked In-->
  <%# end %>
<!--</td>-->

<!--<td class="text-center">-->
  <%#if current_user.clocks.any? %>
    <%# current_user.clocks.each do|clock| %>
      <%#= clock.event_time.strftime('%H.%M') %>
<!--      <br>-->
    <%# end %>
  <%# else %>
<!--    Not Clocked Out-->
  <%# end %>
<!--</td>-->
