<nav class="navbar bg-dark border-bottom border-bottom-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">

  <div class="container-fluid">
    <%= link_to "NAVBAR", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav d-flex ">
        <li class="nav-item ms-2">
          <%= link_to "Karyawan Info", karyawans_path, class: "nav-link" %>
        </li>
        <li class="nav-item ms-2">
          <%= link_to "User List", users_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav text-white d-flex ms-auto mx-3">
        <%if logged_in? %>
          <li class="nav-item ms-2 mt-auto">
          <%= link_to current_user.username, user_path(current_user), class: "nav-link mx-2 fs-3"%>
          </li>
          <li class="nav-item ms-2 mt-auto">
            <%= link_to "Log Out", logout_path, class: "nav-link border border-light border-3 rounded", data:{turbo_method: :delete} %>
          </li>
        <%else %>
          <li class="nav-item ms-2 mt-auto">
            <%= link_to "Log In", login_path, class: "nav-link border border-light border-3 rounded mx-2" %>
          </li>
        <%end %>
        <li class="nav-item ms-2 mt-auto">
          <%= link_to "Sign Up", signup_path, class: "nav-link border border-light border-3 rounded mx-2" %>
        </li>
      </ul>

    </div>
  </div>
</nav>
