<h1>New Salary Information <%= @karyawan.nama %></h1>
<%= form_with(model:  [@karyawan, @salary], url: karyawan_salaries_path(@karyawan)) do |form| %>
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>
  <div>
    <%= form.label :position_id %>
    <%= form.collection_select :position_id, Position.all, :id, :title %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'Back', karyawan_path(@karyawan) %>