

<div class="container">
  <h1 class="mb-4 d-flex align-items-center justify-content-center ">Karyawan</h1>

  <table class="table mt-4 table-bordered">
    <thead>
    <tr>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Usia</th>
      <th>Action</th>
      <th>Details</th>
    </tr>
    </thead>

    <% @karyawan.each do |karyawan| %>
      <tr>
        <td><%=link_to karyawan.nama, karyawan_path(karyawan) %></td>
        <td><%= karyawan.alamat %></td>
        <td><%= karyawan.usia %></td>
        <td><%= button_to "Delete", karyawan_path(karyawan),method: :delete, data:{turbo_method: :delete, turbo_confirm: "Apakah Anda yakin?"}, class: "btn btn-danger" %></td>
        <td>
          <% if karyawan.positions.any? %>
            <% karyawan.positions.each do |pos| %>
              <p>Salary: <%= pos.salary %></p>
              <p>Jabatan: <%= pos.title %></p>
            <% end %>
          <% else %>
            <p>Gaji belum ada :(</p>
            <p>Belum di kasih mandat :)</p>
          <% end %>
        </td>
      </tr>
    <%end %>

  </table>
  <%= link_to "Tambahkan karyawan", new_karyawan_path, class: "btn btn-primary" %>
</div>

