<div class="container">
  <% if logged_in? && @user == current_user %>
    <h1 class="mb-4 d-flex align-items-center justify-content-center ">Karyawan</h1>
    <table class="table mt-4 table-bordered">
      <thead>
      <tr>
        <th class="text-center">Nama</th>
        <th class="text-center">Usia</th>
        <th class="text-center">Alamat</th>
        <th class="text-center">Jabatan</th>
        <th class="text-center">Salary</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>

      <tr>
        <% if @user.nil? %>
          <td><%= link_to @user.karyawan.name, user_path(@user) %></td>
          <td><%= @user.karyawan.age %></td>
          <td><%= @user.karyawan.address %></td>
          <td><%= @user.karyawan.position.title %></td>
          <td><%= @user.karyawan.position.salary %></td>
          <td class="d-flex justify-content-center">
            <% if logged_in? && @user == current_user %>
              <%= button_to "Delete", user_path(@user), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Apakah Anda yakin?" }, class: "btn btn-danger mx-2" %>
              <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-success mx-2" %>
            <% end %>
          </td>
        <% else %>
          <h3> No data available for this user </h3>
        <% end %>
      </tr>
    </table>
    <% if logged_in? %>
      <%= link_to "Tambahkan karyawan", new_karyawan_path, class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <h1 class="text-center mt-4"> You have to be our Employee to do that </h1>
  <% end %>
</div>

