

<div class="container">
  <h1 class="mb-4 d-flex align-items-center justify-content-center ">Karyawan</h1>

  <table class="table mt-4 table-bordered">
    <thead>
    <tr>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Usia</th>
      <th>Action</th>
      <th>Details</th>
    </tr>
    </thead>

    <% @karyawan.each do |karyawan| %>
      <tr>
        <td><%=link_to karyawan.name, karyawan_path(karyawan) %></td>
        <td><%= karyawan.address %></td>
        <td><%= karyawan.age %></td>
        <td><%= button_to "Delete", karyawan_path(karyawan),method: :delete, data:{turbo_method: :delete, turbo_confirm: "Apakah Anda yakin?"}, class: "btn btn-danger" %></td>
        <td>
          <% if karyawan.position.present? %>
            <p>Salary: <%= karyawan.position.salary %></p>
            <p>Jabatan: <%= karyawan.position.title %></p>
          <% else %>
            <p>No Position Assigned</p>
          <% end %>
        </td>
      </tr>
    <%end %>

  </table>
  <%= link_to "Tambahkan karyawan", new_karyawan_path, class: "btn btn-primary" %>
</div>

