<div class="container">
  <h1 class="text-center mb-3 mt-2"> Karyawan Baru</h1>
  <%= form_with(model: @karyawan, local:true ,data: { turbo: "false" }, turbo_frame: 'turbo-frame', class:"mb-4 bg-info rounded p-4") do |form| %>
    <%= render 'shared/error_alert', form: form%>

    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Masukan Nama Karyawan" %>
    </div>
    <div class="mb-3">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :age %>
      <%= form.number_field :age, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= form.label :position %>
      <%= form.collection_select(:position_ids, Position.all, :id, :title, {prompt: "Select Position"},
                                 {multiple: false, class: "form-select w-25 text-center", id: "position-select"})%>
      <%= form.label :salary %>
      <%= form.number_field(:salary, class: "form-control w-25 text-center", id: "salary-field", type: "number", name: "salary", readonly: true) %>
    </div>

    <%= form.submit "Tambahkan", class: "btn btn-primary mt-4 me-2" %>
    <%= link_to "Back", karyawans_path, class: "btn btn-warning mt-4"%>
  <%end %>
</div>

<script>
    document.addEventListener('click', function() {
        const positionSelect = document.getElementById('position-select');
        const salaryField = document.getElementById('salary-field');

        positionSelect.addEventListener('change', function() {
            const selectedPositionId = positionSelect.value;

            fetch(`/karyawans/${selectedPositionId}/get_salary`)
              .then(response => response.json())
              .then(data => {
                  salaryField.value = data.salary;
              });
        });
    });
</script>

<%#= javascript_include_tag 'fill_salary.js', 'data-turbo-track': 'reload', defer: true %>
