<div class="container">

  <h1 class="text-center mb-4"> Tambahkan Karyawan Baru</h1>
  <%= form_with model: @karyawan, data: { turbo: "false" } do |form| %>

    <div class="mb-3">
      <%= form.label :nama %>
      <%= form.text_field :nama, class: "form-control", placeholder: "Masukan Nama Karyawan" %>
    </div>

    <div class="mb-3">
      <%= form.label :alamat %>
      <%= form.text_field :alamat, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :usia %>
      <%= form.number_field :usia, class: "form-control"%>
    </div>

    <!-- Fields for Salary and Position -->
    <%= form.fields_for :salary do |salary_form| %>
      <div>
        <%= salary_form.label :amount %>
        <%= salary_form.number_field :amount, class: "form-control mb-4", id: "salary-amount-field" %>
      </div>
      <div>
        <%= salary_form.label :position_id %>
        <%= salary_form.collection_select :position_id, Position.all, :id, :title, class: "form-label", id: "position-select" %>
      </div>
    <% end %>


    <%= form.submit "Tambahkan", class: "btn btn-primary mt-4" %>
    <%= link_to "Back", karyawans_path, class: "btn btn-warning mt-4"%>

  <% end %>


</div>

