<div class="container">
  <h1 class="text-center mb-4"> Tambahkan Karyawan Baru</h1>
  <%= form_with model: @karyawan, local:true ,data: { turbo: "false" } do |form| %>
    <%= render 'shared/error_alert', form: form%>

    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Masukan Nama Karyawan" %>
    </div>
    <div class="mb-3">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :age %>
      <%= form.number_field :age, class: "form-control"%>
    </div>

    <div class="form-group">
      <label>Position</label>
      <select name="karyawan[position_id]" class="form-select" id="position-select">
        <option> Pilih posisi </option>
        <%@position.each do |p|%>
          <option value="<%=p.id %>"> <%=p.title %> </option>
        <%end %>
      </select>
    </div>

    <div class="form-group">
      <label>salary</label>
      <input class="form-control" type="number" name="salary" readonly id="salary-field">
    </div>

    <%= form.submit "Tambahkan", class: "btn btn-primary mt-4" %>
  <%end %>
  <%= link_to "Back", karyawans_path, class: "btn btn-warning mt-4"%>
</div>

<script type="text/javascript" charset="utf-8">
    function setSalary(){
        const positionSelect = document.getElementById("position-select");
        const salaryField = document.getElementById("salary-field");

        positionSelect.addEventListener("change", () => {
            const selectedOption = positionSelect.value;

            // Convert @position to JSON and insert it directly into the JavaScript
            const positionData = <%= raw @position.to_json %>;

            const selectedPosition = positionData.find((p) => p.id == selectedOption);
            if (selectedPosition) {
                salaryField.value = selectedPosition.salary;
            } else {
                // Clear the salary field if the selected position is not found
                salaryField.value = "";
            }
        });
    }

    document.addEventListener("turbo:load", setSalary)
</script>