<h1><%= @karyawan.nama %></h1>
<p>Alamat: <%= @karyawan.alamat %></p>
<p>Usia: <%= @karyawan.usia %></p>

<% if @salary %>
  <h2>Salary: <%= @salary.amount %></h2>
  <p>Position: <%= @position.title %></p>
<% else %>
  <p>Salary and Position not available for this karyawan.</p>
<% end %>

<%= link_to 'Back', karyawans_path %>
<%= link_to 'Edit', edit_karyawan_path(@karyawan) %>
<%= link_to 'Delete', @karyawan, method: :delete, data: { confirm: 'Are you sure?' } %>
