<h1><%= @karyawan.nama %></h1>
<p><strong>Alamat:</strong> <%= @karyawan.alamat %></p>
<p><strong>Usia:</strong> <%= @karyawan.usia %></p>

<h2>Salary Information</h2>
<% if @gaji %>
  <p><strong>Gaji:</strong> <%= @gaji.gaji %></p>
  <p><strong>ID Gaji:</strong> <%= @gaji.kode_gaji %></p>
<% else %>
  <p>No salary information available for this employer.</p>
  <%= link_to 'Informasi Gaji', new_karyawan_gaji_path(@karyawan) %>
<% end %>

<%= link_to 'Back', karyawans_path %>